.primary-btn{
    background-color: var(--accent);
    transition: opacity 50ms ease;

    &:hover{
        opacity: 0.8;
    }
}

.ghost-btn{
    background-color: var(--bg-light);
    transition: background-color 50ms ease;

    &:hover{
        background-color: var(--bg);
    }
}

.menu-btn{
    background-color: var(--bg-light);
    transition: background-color 50ms ease;
    padding-inline: var(--md);
    padding-block: var(--sm);
    width: 100%;

    &:hover{
        background-color: var(--accent);
    }
}